/* ./src/index.css */


/* adding a CSS reset */
/* https://create-react-app.dev/docs/adding-css-reset/ */
/* @import-normalize */

@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



@layer components {
  /* SideBar */
  .sidebar-icon {
    @apply 
      relative flex justify-center items-center
      h-12 w-12 mt-1 mb-1 mx-auto
      /* box shadows? */
      shadow-lg
      bg-gray-800 text-green-500
      /* hover state */
      hover:bg-green-600 hover:text-white
      /* hover animation */
      rounded-3xl hover:rounded-2xl
      transition-all duration-200 ease-linear
      /* changes it to load animation */
      cursor-wait
  }

  .sidebar-tooltip {
    @apply
      /* spacing */
      absolute w-auto p-2 m-2 min-w-max left-14
      /*  */
      rounded-xl shadow-md
      text-white
      bg-gray-700
      bg-opacity-70
      text-xs
      transition-all duration-100 scale-0 origin-bottom-left;
  }

  .sidebar-hr {
    @apply bg-gray-200 dark:bg-gray-800 
    border border-gray-200 dark:border-gray-800 rounded-full
    mx-2;
  }


  /* ChannelBar */

  .channel-bar {
    @apply w-80 h-auto m-0 ml-16 bg-gray-200 dark:bg-gray-800
     overflow-hidden;
  }

  .channel-container {
    @apply flex flex-col items-center justify-start 
    p-1 m-0;
  }

  .channel-block {
    @apply flex items-center justify-center 
    h-16 
    m-0 p-0;
  }

  .channel-block-text {
    @apply text-lg tracking-wider font-bold 
    text-gray-600 dark:text-gray-400 
    mr-auto ml-4 my-auto align-middle;
  }

   /*ChannelBar -> dropdown  */
    .dropdown {
      @apply m-0 w-full px-2 pb-2
      transition duration-300 ease-in-out;
    }

    .dropdown-header {
      @apply flex flex-row items-center justify-evenly
      mx-0 text-gray-500
      cursor-pointer;
    }

    .dropdown-header-text {
      @apply
      ml-1
      text-gray-500  text-opacity-90
      text-lg font-semibold
      cursor-default;
    }

    .dropdown-header-text-selected {
      @apply
      ml-1
      text-blue-500 text-opacity-90 text-lg font-bold
      ;
    }

    .dropdown-selection {
      @apply flex flex-row items-center justify-evenly
      mt-1 mr-auto ml-2
      transition duration-300 ease-in-out
      cursor-pointer;
    }

    .dropdown-selection-text {
      @apply text-gray-500 font-semibold tracking-wide
      mr-auto 
      transition duration-300 ease-in-out 
      hover:text-pink-500 dark:hover:text-gray-500
      cursor-pointer;
    }
}
